name: release
run-name: Create a new release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      tag:
        description: "Provide a tag manully, e.g. v2.0.0"
        required: true

jobs:
  select-tag:
    runs-on: ubuntu-latest
    outputs:
      git_team_tag: ${{ steps.select_tag_from_git_or_input.outputs.git_team_tag }}
    steps:
      - name: Select tag from git or user input
        id: select_tag_from_git_or_input
        run: |
          echo "git_team_tag=$(echo ${{ github.ref_type == 'tag' && github.ref_name || inputs.tag }})" >> $GITHUB_OUTPUT

  extract-version:
    runs-on: ubuntu-latest
    needs: [ select-tag ]
    env:
      git_team_tag: ${{ needs.select-tag.outputs.git_team_tag }}
    outputs:
      git_team_version: ${{ steps.extract_package_version_from_tag.outputs.git_team_version }}
    steps:
      - name: Extract package version from tag
        id: extract_package_version_from_tag
        run: |
          echo "git_team_version=$(echo ${{ env.git_team_tag }} | cut -c2-)" >> $GITHUB_OUTPUT

  verify:
    uses: ./.github/workflows/verify.yaml

  build:
    runs-on: ubuntu-latest
    needs: [ select-tag, verify ]
    env:
      git_team_tag: ${{ needs.select-tag.outputs.git_team_tag }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ env.git_team_tag }}
      - uses: actions/setup-go@v3
        with:
          go-version: '1.23'
      - run: |
          GOPATH=$(go env GOPATH) make
      - uses: actions/upload-artifact@v6
        with:
          retention-days: 1
          name: build-target
          path: target/

  package-deb:
    runs-on: ubuntu-latest
    needs: [ extract-version, build ]
    env:
      git_team_version: ${{ needs.extract-version.outputs.git_team_version }}
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
      - run: |
          gem install fpm
      - uses: actions/download-artifact@v6
        with:
          name: build-target
          path: target/
      - name: Mark git-team binary as executable
        run: |
          chmod 755 target/bin/git-team
      - name: Package
        run: |
          fpm \
            --debug \
            -f \
            -s dir \
            -t deb \
            -n "git-team" \
            -v ${{ env.git_team_version }} \
            -m "git-team authors" \
            --url "https://github.com/hekmekk/git-team" \
            --architecture "x86_64" \
            --license "MIT" \
            --vendor "git-team authors" \
            --description "git-team - commit message enhancement with co-authors" \
            --depends "git" \
            --deb-no-default-config-files \
            -p ./ \
            target/bin/git-team=/usr/bin/git-team \
            target/completion/bash/git-team.bash=/usr/share/bash-completion/completions/git-team \
            target/completion/zsh/git-team.zsh=/usr/share/zsh/site-functions/_git-team \
            target/man/git-team.1.gz=/usr/share/man/man1/git-team.1.gz
      - uses: actions/upload-artifact@v6
        with:
          retention-days: 1
          name: deb
          path: git-team_${{ env.git_team_version }}_amd64.deb

  package-rpm:
    runs-on: ubuntu-latest
    needs: [ extract-version, build ]
    env:
      git_team_version: ${{ needs.extract-version.outputs.git_team_version }}
    steps:
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'
      - run: |
          gem install fpm
      - uses: actions/download-artifact@v6
        with:
          name: build-target
          path: target/
      - name: Mark git-team binary as executable
        run: |
          chmod 755 target/bin/git-team
      - name: Package
        run: |
          fpm \
            --debug \
            -f \
            -s dir \
            -t rpm \
            -n "git-team" \
            -v ${{ env.git_team_version }} \
            -m "git-team authors" \
            --url "https://github.com/hekmekk/git-team" \
            --architecture "x86_64" \
            --license "MIT" \
            --vendor "git-team authors" \
            --description "git-team - commit message enhancement with co-authors" \
            --depends "git" \
            -p ./ \
            target/bin/git-team=/usr/bin/git-team \
            target/completion/bash/git-team.bash=/usr/share/bash-completion/completions/git-team \
            target/completion/zsh/git-team.zsh=/usr/share/zsh/site-functions/_git-team \
            target/man/git-team.1.gz=/usr/share/man/man1/git-team.1.gz
      - uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GIT_TEAM_SIGNING_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GIT_TEAM_SIGNING_GPG_PRIVATE_KEY_PASSPHRASE }}
      - name: Sign rpm package
        run: |
          rpm --define "%_gpg_name 12BB70967049E845" --addsign git-team-${{ env.git_team_version }}-1.x86_64.rpm
      - uses: actions/upload-artifact@v6
        with:
          retention-days: 1
          name: rpm
          path: git-team-${{ env.git_team_version }}-1.x86_64.rpm

  release:
    runs-on: ubuntu-latest
    needs: [ extract-version, package-deb, package-rpm ]
    env:
      git_team_version: ${{ needs.extract-version.outputs.git_team_version }}
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: deb
      - name: Generate sha256sum for deb
        id: sha256sum_deb
        run: |
          echo "CHECKSUM=$(sha256sum git-team_${{ env.git_team_version }}_amd64.deb | awk '{ print $1 }')" >> $GITHUB_OUTPUT
      - uses: actions/download-artifact@v6
        with:
          name: rpm
      - name: Generate sha256sum for rpm
        id: sha256sum_rpm
        run: |
          echo "CHECKSUM=$(sha256sum git-team-${{ env.git_team_version }}-1.x86_64.rpm | awk '{ print $1 }')" >> $GITHUB_OUTPUT
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body: |
            **sha256 checksum (deb):** `${{ steps.sha256sum_deb.outputs.CHECKSUM }}`
            **sha256 checksum (rpm):** `${{ steps.sha256sum_rpm.outputs.CHECKSUM }}`
          files: |
            git-team_${{ env.git_team_version }}_amd64.deb
            git-team-${{ env.git_team_version }}-1.x86_64.rpm

  send-repository-dispatch-event:
    runs-on: ubuntu-latest
    needs: [ select-tag, release ]
    env:
      git_team_tag: ${{ needs.select-tag.outputs.git_team_tag }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ env.git_team_tag }}
      - uses: peter-evans/repository-dispatch@v2
        with:
          event-type: release-created
          client-payload: '{"tag": "${{ github.ref_name }}", "revision": "${{ github.sha }}"}'
